body{
    background-color: blanchedalmond;

}

#clear-grid{
    margin: 1rem;
}

#grid{
    border: 0.5rem solid black;
    display: grid;
    height: 500px;
    width: 500px;
}

#grid div{
    border: 0.1rem solid black;
}

.cell {
    background-color: white;
}

.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: center;    
}

.hovered {
    background-color: black !important;
}
