body{
    background-color: blanchedalmond;

}
.container{
    display: flex;
    justify-content: center;    
}

#grid{
    display: grid;
    height: 500px;
    width: 500px;
}

#grid div{
    border: 0.1rem solid black;
}

.hovered {
    background-color: black;
}